.button {
  border: none;
  background: none;
  padding: 1rem;
}

.icon {
  font-size: 40px;
}

.menuWrapper {
  padding: 1.5rem;
  margin: 2rem;
}

.menu {
  font-size: 2rem;
  margin-bottom: 1rem;
}
