<button mat-button [matMenuTriggerFor]="menu" class="button">
  <mat-icon aria-label="menu button" color="primary" class="icon"
    >menu</mat-icon
  >
</button>
<mat-menu #menu="matMenu" class="menuWrapper">
  <button mat-menu-item class="menu" routerLink="/home">Home</button>
  <button mat-menu-item class="menu" routerLink="/eyesMenu">Eyes</button>
  <button mat-menu-item class="menu" routerLink="/lipsMenu">Lips</button>
  <button mat-menu-item class="menu" routerLink="/faceMenu">Face</button>
  <button mat-menu-item class="menu" routerLink="/nailsMenu">Nails</button>
</mat-menu>
