<mat-grid-list cols="2" rowHeight="1:2">
  <mat-grid-tile>
    <a routerLink="/eyesMenu">
      <img src="../../assets/eyeshadow.jpg" class="tileEyes" /></a
  ></mat-grid-tile>
  <mat-grid-tile>
    <a routerLink="/lipsMenu">
      <img src="../../assets/lipstick.jpg" class="tileLips" /></a
  ></mat-grid-tile>
  <mat-grid-tile
    >><a routerLink="/faceMenu">
      <img src="../../assets/foundation.png" class="tileFoundation" /></a
  ></mat-grid-tile>
  <mat-grid-tile class="tileNails"
    ><a routerLink="/nailsMenu">
      <img src="../../assets/nailpolish.jpeg" class="tileNails" /></a
  ></mat-grid-tile>
</mat-grid-list>
